<div style=" margin-top: 1%;margin-bottom: 1%;margin-left: 1%;margin-right: 1%;">
    <h1 class="text-center">
        Welcome To The Greatest
        <br>
        Book Club In The History </h1>
    <br>
    <p> "The first rule is that we don't talk about the club". Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, id! Possimus ducimus perspiciatis beatae, atque quidem officiis repudiandae sit corrupti quasi voluptas nobis minus minima magnam! Non optio labore vero.</p>
</div>
